#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.fc td, .fc th {
    border: 1px solid #dee2e6 !important; /* Tambahkan border */
}

.fc-event.holiday {
    background-color: #ffcccc;
    border-color: #ff0000;
    color: #000;
}

.fc-event.leave {
    background-color: #cce5ff;
    border-color: #004085;
    color: #000;
}
